@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');




body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.navbar {
  background-color: var(--primary-color);
}

.button {
  background-color: var(--secondary-color);
  color: var(--text-color);
}


html {
  scroll-behavior: smooth;
}
body {
  font-family: Work Sans, sans-serif;
}
#top {
  /*height: 1000px;*/
}
#work {
 /* height: 600px;*/
}
#about {
  /*height: 1000px;*/
}
#contact {
  /*height: 1000px;*/
}
footer {
  height: 300px;
}

/* Lightbox */
.modal {
  display: none;
  position: fixed;
  z-index: 101;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
  border:none;
}
.close {
  color: #FFF !important;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 55px;
  opacity: 1;
  font-weight: 100;
}
.close:hover,
.close:focus {
  color: #FFF !important;
  text-decoration: none;
  cursor: pointer;
}
.mySlides {
  display: none;
  background-color: black;
}
.cursor {
  cursor: pointer;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 5%;
  width: auto;
  padding: 16px;
/*  margin-top: -50px;*/
  margin-left: -80px;
  margin-right: -80px;
  color: white !important;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.caption-container {
  text-align: center;
  background-color: #dddddd;
  padding: 20px;
  margin-bottom: 50px;
}
img {
  width:100%;
}
.work-title {
  color:white;
}
.description {
  color:white;
  margin-bottom: 0;
}
.modal-content {
    width: 70%;
}
.modal {
    overflow: auto;
}
/* End Lightbox */

.logo {
  width: 200px; /* Adjust this to change the initial size of the logo */
  height: auto; /* This keeps the aspect ratio of the logo */
  max-width: 100%; /* This makes the logo responsive */
}

.nav-masthead .nav-link {
    font-weight: 700;
    color: #000;
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}
.nav-masthead .active {
    color: #d03acd;
}
.subhead{
  font-weight: 600;
  margin-top: 150px;
  color: #90278E;
}
.container {
  z-index: 0; 
}

.container2 {
  position: relative;
  width: 100%;
  border: 1px solid black;
  margin-bottom: 20px;
}
.overlay-text {
  color: #3c6ca8;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.image {
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100%;
  opacity: 0;
  cursor: pointer;
  background-color: #eae164;
}
.container2:hover .overlay {
  opacity: 1;
}
.fixed-top {
    z-index: 100;
}
.display-3 {
  color: #b78fd6;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.3em;
  width: 100%;
  margin-top: 180px;
  margin-left: auto;
}
.display-2 {
  color: #90278E;
  font-size: 3rem;
  margin-top: 50px;
  margin-bottom: 20px;
}
.bg-light {
    background-color: #fff!important;
}
.nav-right {
	color: #FFF;
	float: right !important;
}
.nav-right a {
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
}
/* li a {
	display: ;
} */
.navbar {
    padding: .5rem 0 .5rem 0;
}
.btn-secondary {
    background-color: #90278E;
    border-color: #90278E;
}
.btn-secondary:hover {
    color: #fff;
    background-color: #000;
    border-color: #000;
}
.title{
  font-size: 1.3em;
  font-style: italic;
  font-weight: bold;
}
.featurette-divider {
    margin: 2rem 0;
    border: 1px solid #ccc;
}
.approach-text {
  font-size: 1.5rem;
  font-weight: 400;
  color: #90278E;
}

.bio-photo {
  border-radius: 50%;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid grey;
}
.bio-text {
  font-size: 1.2rem;
}
.contact-text {
  font-size: 1.2rem;
}
.submit.text {
  font-size: 2.2rem;
  text-align: center;
}

/* Responsive */
@media (max-width: 767px) {
.modal-content {
    width: 90%;
}
.display-3 {
  font-size: 1.7rem;
  font-weight: 700;
}
.display-2 {
  margin-top: 80px;
}
.approach-text {
  font-size: 1.2rem;
}
.bio-photo {
  width: 50%;  
  margin-left: 20%;
}
.prev,
.next {
  top: 50%;
  margin-left: 0;
  margin-right: 0;
  color: white !important;
  font-size: 20px;
  background-color: #666;
}
.close {
  font-size: 35px;
}
}
/* End Responsive */

/* added to crop images uniformly; must go back to original classes */
.container2 {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 75%; /* This will give the container a 4:3 aspect ratio */
  overflow: hidden;
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover; /* This will make the image cover its container while maintaining its aspect ratio */
}

.bio-photo-container {
  position: relative;
  width: 100%; /* This can be any percentage or fixed value */
  padding-bottom: 100%; /* This makes the container square */
  overflow: hidden;
}

.bio-photo {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover; /* This makes the image cover the entire container */
  border-radius: 50%;
  border: 1px solid grey;
}


/* color theme */

body .display-3{
  font-weight: 700;
}

.subhead {
  color: #5eb090;
  text-transform: uppercase;
}

nav {
}

.nav-link {
  color: #3c6ca8 !important; 
  font-size: 1.4rem;
}

.bio-text {
  color: #3c6ca8;
}

.bio-name {
  color: #b78fd6;
  font-weight: bolder;
  text-transform: uppercase;
  
}

/* Transition of Navbar */

#topBar {
  transition: background-color 0.5s ease;
}

#topBar.scrolled {
  background-color: #eae164 !important;

}


.headline-area-subheading {
  color: #b78fd6;
}

/* animation */
.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
 10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
 20% { transform: rotate(-8.0deg) }
 30% { transform: rotate(14.0deg) }
 40% { transform: rotate(-4.0deg) }
 50% { transform: rotate(10.0deg) }
 60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
100% { transform: rotate( 0.0deg) }
}


.wave-2 {
  animation-name: wave-animation-2;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation-2 {
  0% { transform: rotate( 0.0deg) }
 10% { transform: rotate(7.0deg) }
 20% { transform: rotate(-4.0deg) }
 30% { transform: rotate(7.0deg) }
 40% { transform: rotate(-2.0deg) }
 50% { transform: rotate(5.0deg) }
 60% { transform: rotate( 0.0deg) }
100% { transform: rotate( 0.0deg) }
}

.wave-3 {
  animation-name: wave-animation-3;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation-3 {
  0% { transform: rotate( 0.0deg) }
 10% { transform: rotate(28.0deg) }
 20% { transform: rotate(-16.0deg) }
 30% { transform: rotate(28.0deg) }
 40% { transform: rotate(-8.0deg) }
 50% { transform: rotate(20.0deg) }
 60% { transform: rotate( 0.0deg) }
100% { transform: rotate( 0.0deg) }
}

.wave-4 {
  animation-name: wave-animation-4;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation-4 {
  0% { transform: rotate( 0.0deg) }
 20% { transform: rotate(14.0deg) }
 40% { transform: rotate(-8.0deg) }
 60% { transform: rotate(14.0deg) }
 80% { transform: rotate(-4.0deg) }
100% { transform: rotate( 0.0deg) }
}


.container2{
  animation: grow 2s ease-in-out;
}


@keyframes grow {
  0% { transform: scale(0.5); }
  100% { transform: scale(1); }
}


/* hero area */

.hero-video {
  position: relative;
  height: calc(100vh - 60px); /* Adjust the height to be full viewport minus the navbar height */
  overflow: hidden;
}

.hero-video::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Adjust the last value to change the opacity */
  z-index: 1;
}

.hero-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  transform: translate(-50%, -50%);
}

.hero-text {
  text-align: center;
  position: relative;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--primary-color) !important;
}

#myVideo {
  opacity: 0.7;
}

